

<!-- <app-tabbar [items]="user" (tabClick)="vediUser($event)"></app-tabbar>
<br>
<app-tabbar [items]="countries" (tabClick)="FaiQualcosa($event)"></app-tabbar>

<div class="row">
  <div class="col-xs-1-12">
    <div class="card  border-primary">
      <div class="card-body"  *ngIf = "userAttivo.name">
        <h5 class="card-title">{{userAttivo.name}}</h5>
        <p class="card-text">Il tuo id è: ({{userAttivo.id}})</p>
        <p class="card-text" *ngIf = "!cittaAttivo.name">Seleziona una citta :</p>
        <p class="card-text" *ngIf = "cittaAttivo.name">Welcom in : ({{cittaAttivo.name}})</p>
        
      </div>
    </div>
  </div>
</div>
<hr>

<app-form></app-form>

<router-outlet></router-outlet>
-->